@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  /* background-image: url(../images/forest-bgp.png); */
  background-image: url(../images/new01.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-color: #0a3641; */
  background-color: #000;
}

body {
  font-family: "roboto", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  /* background-color: #0a3641; */
  background-color: rgb(9, 11, 16, 1);
  padding: 0px 20px 0px 20px;
  width: 100%;
  z-index: 1;
  position: fixed;
}

header a {
  text-decoration: none;
  color: #ddd;
  text-transform: uppercase;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  /* background-color: #0a3641; */
  background-color: rgb(9, 11, 16, 1);
  padding: 0px 20px 0px 20px;
}

footer a {
  text-decoration: none;
  color: #ddd;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

.cart {
  width: 60%;
  display: block;
  margin: auto;
  left: -99px;
  position: relative;
}

main {
  flex: 1;
}

.logobigwhite {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  display: block; /*--
  make an image a block to center-align it --*/
  margin-top: 80px;
}

.logosmall {
  width: 50%;
  margin: auto;
  display: block;
}

.copyright {
  background-color: #000;
  color: #ddd;
  text-align: center;
  font-size: 10px;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  /* max-width: 45%; */
  width: 45%;
  /* border: 3px solid white; */
}

.wrapper a {
  padding: 0 10px 0 10px;
  font-size: 0.85em;
}

button {
  background-color: rgb(255 181 54);
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3 ease 0s;
  width: 150px;
  height: auto;
  padding: 10px 5px;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid black;
  margin-top: 5px;
}

button:hover {
  background-color: rgba(155, 163, 0, 0.8);
}

p {
  color: white;
}

h1 {
  font-size: 16px;
  color: #ddd;
}

.h1class {
  text-align: center;
  margin: 40px auto 0 auto;
}

.h1class h1 span {
  color: #ddd;
  font-size: 16px;
  font-weight: 400;
  background: rgb(0, 0, 0, 0.3);
  padding: 10px 15px;
  border-radius: 10px;
}

#jacketImg {
  width: 150px;
  border-radius: 10px;
}

#header {
  margin-bottom: 20px;
  font-size: 1.5em;
}

#description {
  font-size: 1.1em;
  margin-top: 60px;
}

#jacketPrice {
  font-size: 0.9em;
}

h2 {
  color: white;
}

.current {
  text-decoration: underline;
}

.whatever {
  display: none;
}

.error {
  color: red;
  border-color: red;
  background: rgba(255, 0, 0, 0.1);
  margin-top: 250px;
  font-size: 0.6em;
}

#loading {
  justify-content: center;
  display: flex;
  margin-top: auto;
  color: white;
  font-size: 2em;
  /**/
  align-items: center;
  height: 70%;
}
#loading p {
  margin: 0;
}

#loading:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #007bff;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*--
index.html
--*/

.welcome {
  text-align: center;
  margin-top: 40px;
}

.welcome p {
  color: rgb(45 30 28);
}

#cta-index {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

#cta-index button {
  color: #ddd;
  background-color: rgb(9 11 16);
}

.threepics {
  display: none;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  margin: 30px 20px 0 20px;
  gap: 5%;
}

.threepics img {
  width: 100%;
  border-radius: 1px;
}

.biglogodiv {
  margin-top: 80px;
}

@media (max-width: 1000px) {
  .threepics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .threepics img {
    display: flex;
    width: 70%;
    margin: 20px auto;
    border: 1px solid white;
  }

  .pics {
    align-items: center;
  }

  .welcome p {
    font-size: 0.9em;
  }

  p {
    font-size: 0.9em;
  }

  h2 {
    font-size: 1em;
  }
}

@media (max-width: 500px) {
  .threepics {
    justify-content: flex-end;
  }

  .threepics img {
    width: 50%;
  }

  .welcome p {
    font-size: 0.7em;
  }

  p {
    font-size: 0.7em;
  }

  h2 {
    font-size: 0.9em;
  }
}

/*--
browse.html
--*/
.jacket-block {
  margin: 30px auto;
}

.alljackets {
  /* border: 1px solid white; */
  justify-content: space-evenly;
  width: 70%;
  /* padding: 20px 0px 20px 0px; */
  background-color: rgb(0 0 0 / 60%);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  margin: auto;
}

.alljackets li div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px 60px 20px;
}

.alljackets img {
  width: 150px;
  border-radius: 15px;
  margin-top: 15px;
}
.content {
  cursor: pointer;
}

.text-jackets {
  color: #ddd;
  /* border: 1px solid white; */
  text-align: center;
  margin-top: 30px;
}

.text-jackets p {
  /* backdrop-filter: blur(3px); */
  padding: 10px 0 10px 0;
  margin: 10px 0;
}

.jacket {
  max-width: 70%;
  max-height: auto;
  margin-top: auto;
  /* border: solid white; */
}

@media (max-width: 1000px) {
  .alljackets {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 30px 100px;
    justify-content: space-evenly;
  }

  .jacket-block {
    display: flex;
    justify-content: center;
  }

  .jacket {
    min-width: 130px;
  }
}

@media (max-width: 500px) {
  .alljackets img {
    width: 120px;
  }
  .jacket {
    min-width: 90px;
    margin: 10px auto;
  }
}

/*--
about.html
--*/
.about__meat {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 200px 20px 200px;
}

.about__texts {
  color: #ddd;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(0 0 0 / 60%);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  padding: 50px;
  margin: auto;
  width: 70%;
}

.about__texts p {
  color: #ddd;
  margin: 10px;
  padding: 0 50px 0 50px;
}

.about__texts h1 {
  margin-left: 10px;
}

.rainyworkers {
  /* backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5); */

  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 40px;
  border-radius: 0 0 10px 0;
  margin-top: 30px;
}

.rainyimg {
  max-width: 30%;
  height: auto;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .about__meat {
    margin: 100px 40px 20px 40px;
  }

  .about__texts {
    font-size: 14px;
  }
  .about__texts {
    padding: 30px;
  }
}

@media (max-width: 500px) {
  .about__meat {
    margin: 75px 30px 20px 30px;
  }

  .about__texts {
    padding: 30px 10px;
  }

  .about__texts p {
    font-size: 0.9em;
  }

  .rainyworkers {
    flex-direction: column;
  }

  .rainyimg {
    margin: 10px auto;
    max-width: 60%;
  }
}

/*--
contact.html
--*/
.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(0 0 0 / 60%);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  padding: 20px 0;
  margin: 20px 70px;
}

.contact__child {
  margin: 10px;
  /* border: 2px solid white; */
}

.contact-info p {
  color: #ddd;
  margin: 20px 0px;
}

form {
  color: #ddd;
  margin-right: 20px;
}

form fieldset {
  max-width: 182px;
  max-height: 183px;
}

#error {
  color: #ff4500;
  max-width: 220px;
  margin: 0 0 20px 0;
}

#formButton {
  color: black;
  background-color: white;
}

.button-wrapper {
  display: flex;
  margin: 10px 0 10px 15px;
}

.gmaps {
  display: block;
  width: 90%;
  margin: auto;
}

.contact__child h1 {
  margin: auto;
  font-size: 1.1em;
}

.mapAndForm {
  justify-content: center;
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: 1000px) {
  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    margin: 10px 40px 10px 40px;
    padding: 10px;
  }
  .contact__child {
    justify-content: center;
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .contact__child p {
    text-align: center;
    font-size: 14px;
    margin: 8px;
  }

  .contact__child-gmaps {
    display: flex;
    justify-content: center;
    /* border: 1px solid white; */
    width: 200px;
    flex-direction: row;
    align-self: center;
  }

  .mapAndForm {
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
  }

  .gmaps {
    width: 100%;
  }

  form {
    margin: 0;
    font-size: small;
  }
}

/*--
redline.html
--*/
.redline-main {
  color: #ddd;
  display: flex;
  flex-direction: row;
  background-color: rgb(0 0 0 / 60%);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  padding: 50px;
  margin: 40px auto;
  width: 70%;
}

.redline-img-parent {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  width: 100%;
  flex-direction: column;
  /* border: 1px solid white; */
}

.redline-img-child {
  width: 35%;
  /* border: 1px solid white; */
}

.cta-redline {
  margin: 10px;
}

.para-div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .redline-main {
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .redline-main {
    font-size: 14px;
  }
}

/*--
cart.html
--*/

.cart-redline {
  display: flex;
  color: #ddd;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  backdrop-filter: blur(3px);
  background-color: rgb(0, 0, 0, 0.5);
  padding: 40px 0;
  margin: 50px auto;
}

.cart-img-parent {
  display: flex;
  color: #ddd;
  justify-content: center;
  flex-direction: row;
  width: 15%;
  height: auto;
  /* border: 1px solid white; */
  margin: 0 15px;
}

.cart-redline img {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  /* width: 10%; */
  /* border: 1px solid white; */
}

.cart-info-p {
  display: flex;
  width: 20%;
  margin: 0 10px;
  flex-direction: column;
  font-size: 16px;
}

.cart-buttons button {
  margin: 5px;
  padding: 5px;
}

.cart-item img {
  border-radius: 15px;
}

@media (max-width: 1000px) {
  .cart-redline {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }

  .cart-img-parent {
    display: flex;
    justify-content: center;
  }

  .cart-redline-img {
    display: block;
  }

  .cart-info-p {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .cart-info-p p {
    font-size: 18px;
    text-align: center;
  }

  .added {
    text-align: center;
  }
}

/*--
checkout.html
--*/

.order-summary {
  display: flex;
  color: #ddd;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(0 0 0 / 60%);
  backdrop-filter: blur(3px);

  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 50px;
  margin: 100px auto 10px;
  width: 50%;
}

.order-summary img {
  width: 150px;
  border-radius: 10px;
}

.order-text {
  margin: 0 10px 0 20px;
}

.checkout-redline {
  width: 15%;
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.checkout-redline img {
  width: 100%;
  padding: 40px;
  margin-right: 30px;
  border-radius: 20px;
  background-color: rgb(221, 221, 221);
  opacity: 0.8;
  padding: 0 10px;
}

.checkout-buttons {
  flex-direction: row-reverse;
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.checkout-buttons button {
  margin: 10px;
}

@media (max-width: 1000px) {
  .order-summary {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
    width: 30%;
    min-width: 50%;
  }

  .checkout-redline {
    width: 45%;
    display: flex;
    justify-content: center;
  }

  .checkout-redline img {
    margin: 0;
  }

  .checkout-buttons {
    flex-direction: column;
  }

  .order-text h1 {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .order-summary {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    width: 30%;
  }

  .checkout-redline {
    width: 75%;
    display: flex;
    justify-content: center;
  }

  .order-text p {
    font-size: 12px;
  }

  .order-text h1 {
    font-size: 14px;
  }

  button {
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
    width: 100px;
    height: auto;
    padding: 3px 1px;
    font-size: 12px;
    font-weight: 500;
  }
}

/*--
checkoutsuccessful.html
--*/

.checksucc-main {
  display: flex;
  /* border: 1px solid white; */
  flex-direction: row;
  align-items: center;

  background-color: rgb(0 0 0 / 60%);
  backdrop-filter: blur(3px);
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 50px;
  margin: 100px auto 10px;
  width: 50%;
}

.checkout-complete {
  display: flex;
  color: #ddd;
  /* border: 1px solid white; */
  margin-top: 20px;
  padding-left: 30px;
}

.checkout-complete img {
  width: 100%;
}

.pees {
  margin-top: 20px;
  margin-left: 40px;
  color: #ddd;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.redline-complete {
  /* border: 1px solid white; */
  display: flex;
  width: 15%;
  margin: 5px auto;
  flex-direction: column;
}

.redline-complete img {
  /* max-width: 100%;
  max-height: 100%; */
  width: 150px;
  border-radius: 10px;
  margin-top: 20px;
  align-self: center;
}

#successfulButton {
  align-self: flex-start;
  align-self: center;
}

.shop-more-complete {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-top: 10px;
}

@media (max-width: 1000px) {
  .checksucc-main {
    flex-direction: column;
    margin: 100px auto;
    padding: 20px 40px;
    width: 30%;
  }

  .pees {
    margin: 0;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .checksucc-main {
    padding: 20px;
    margin: 200px auto;
  }

  .redline-complete {
    width: 30%;
  }

  .redline-complete img {
    width: 80px;
  }
}
